<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <!-- Imported styles -->
    <script src="https://kit.fontawesome.com/26958d8332.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap">
    <!-- Custom styles -->
    <link rel="stylesheet" href="../static/CSS/master.css">

  </head>
  <body>
    <!-- Header -->
    <header>

      <!--
      <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
      </button>
    -->

      <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="#specialty" class="nav__link">My Areas of Specialty</a></li>
            <li class="nav__item"><a href="#about" class="nav__link">About Me</a></li>
            <li class="nav__item"><a href="#projects" class="nav__link">My Projects</a></li>
          </ul>
      </nav>
    </header>

      <!-- Introduction Section -->
      <section class="intro" id="home">
        <h1 class="section__title section__title--intro">
          Hi, I am <strong>Isaac Stong</strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">
          Senior Data Scientist
        </p>
        <img src="../static/Images/placeholder.png" alt="" class="intro__img">3
      </section>

      <!-- My Areas of Specialty -->
      <section class="my-areas-of-specialty" id="specialty">
        <h2 class="section__title section__title--specialty">What I do</h2>
        <div class="specialties">
          <!-- Specialty -->
          <div class="specialty">
            <h3>Data Analytics</h3>
            <p>My love for data analytics started my junior year of college when I took Intro to Data Science. Since then I have discovered and explored more data analytics tools such as: SQL, Tableau, PowerBI, Matplotlib, and Seaborn. I also have future plans to explore tools such as Looker as I've heard good things. I believe data analytics is a strong resource for better understanding our data and therefore an essential data science skill.</p>
          </div>
          <!-- Specialty -->
          <div class="specialty">
            <h3>Machine Learning</h3>
            <p>My journey into machine learning started shortly after my Intro to Data Science course with my senior year having both machine learning and artificial intelligence on my course load. I believe machine learning has the power to automate a lot of business decisions and create a data driven company. I am also passionate about machine learning as it holds the ability to create more data from images and natural text. NLP and Image Recognition are two areas that really interest me and I hope to learn more about them as my career develops.</p>
          </div>
          <!-- Specialty -->
          <div class="specialty">
            <h3>Engineering</h3>
            <p>With a background in computer science, I have a passion for understanding the way things work at their most basic form. This has taken the form of wanting to learn web development, cloud technologies, and how machine learning algorithms work. My hopes for the future is to more fully understand the workings of servers, mathematics behind more ML, and optimization techniques for said algorithms. I also enjoy tinkering with real world engineering such as vehicles and machines.</p>
          </div>
        </div>
        <a href="#projects" class="btn">My Projects</a>
      </section>

      <!-- About Me Section -->
      <section class="about-me" id="about">
        <h2 class="section__title section__title--about">Who I am</h2>
        <p class="section__subtitle section__subtitle--about">Senior Data Scientist with CURO Financial Technologies</p>

        <div class="about-me__body">
          <p>Graduated with a BS in Computer Science, I started my career with Microsoft as a software engineer with the teams/skype team. After working as a software engineer for some time I realized my passion lied more in the data science/machine learning realm. Since that realization I have worked to become a senior data scientist with CURO working on data driven projects for their products.</p>
          <p>My hope for the future is to become more knowledgeable on machine learning mathematics and gain an ability to write my own optimized machine learning algorithms, as well as understanding around the processes that make those algorithms usable. To achieve these goals I try to find time every day to learn outisde of work as well as work on projects using those learned skills to keep this portfolio growing. For instance this website you are currently on was completely developed by me after taking a full stack web development course.</p>
        </div>
        <img src="../static/Images/guy.jpg" alt="" class="about-me__img">
      </section>

      <!-- My Projects -->
      <section class="my-projects" id="projects">
        <h2 class="section__title section__title--projects">My Projects</h2>
        <p class="section__subtitle section__subtitle--projects">A selection of personal projects I've completed.</p>

        <div class="portfolio">
          <!-- Portfolio Item -->
          <a href="https://public.tableau.com/app/profile/isaac.william.stong" class="portfolio__item">
            <img src="../static/Images/tableau.png" alt="" class="portfolio__img">
          </a>
          <!-- Portfolio Item -->
          <a href="#" class="portfolio__item">
            <img src="../static\Images\UnderConstruction2.png" alt="" class="portfolio__img">
          </a>
          <!-- Portfolio Item -->
          <a href="#" class="portfolio__item">
            <img src="../static\Images\UnderConstruction2.png" alt="" class="portfolio__img">
          </a>
        </div>

      </section>

      <footer class="footer">
        <a href="mailto:stong.jotbse@gmail.com" class="footer__link">Email Me</a>
        <ul class="social-list">
          <li class="social-list__item">
            <a class="social-list__link" href="https://github.com/IsaacStong">
              <i class="fa-brands fa-github"></i>
            </a>
          <!-- Adress LAter
          </li>
          <li class="social-list__item">
            <a class="social-list__link">
              b
            </a>
          </li>
          <li class="social-list__item">
            <a class="social-list__link">
              c
            </a>
          </li>
          <li class="social-list__item">
            <a class="social-list__link">
              d
            </a>
          </li>
        -->
        </ul>
      </footer>



  </body>

</html>
